################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ApiRefactor.Application/bin/Debug/net9.0
/ApiRefactor.Domain/bin/Debug/net9.0
/ApiRefactor.Infrastructure/bin/Debug/net9.0
